/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
}
  
  /* Roboto Medium */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
}
  
  /* Roboto Bold */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
}

/* Общие элементы */
html {
  box-sizing: border-box;
}

*,*::after,
*::before {
  box-sizing: inherit;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
    min-width: 1200px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
}

.main-wrapper {
  width: 1160px;
  padding: 0px 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
 }

li {
  list-style: none;
}

.text-hidden {
  font-size: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn:active{
  color: rgba(255, 255, 255, 0.3);
}

.btn.btn-red.see-more {
  width: 240px;
  text-size: 16px;
}

.btn.btn-red {
  background-color: #fb565a;
} 

.btn.btn-red:hover {
  background-color: #e74246;
}
.btn.btn-red:active {
  background-color: #d7373b;
}

.btn.btn-green {
  background-color: #00ca74;
}

.btn.btn-green:hover {
  background-color: #00bc6c;
}

.btn.btn-green:active {
  background-color: #00aa62;
}

.btn.btn-yellow {
  background-color:  #efc84a;
}

.btn.btn-yellow:hover {
  background-color:  #eab534;
}

.btn.btn-yellow:active {
  background-color:  #e5a722;
}

.btn.btn-grey {
  color: #000000;
  background-color: #eeeeee;
}

.btn.btn-grey:hover {
  background-color: #dfdfdf;
}

.btn.btn-grey:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #d5d5d5;
}

/* Шапка */
.main-logo{
  margin-right: 202px;
}

.main-logo img:hover {
    opacity: 0.8;
}

.main-nav a.active::after {
  display: block;
  position: relative;
  top: 5px;
  content: '';
  width: 100%;
  height: 2px;
  margin-top: -2px;
  background-color: #fb565a;
}

.main-logo img:active {
  opacity: 0.3;
}

.header-container {
  display: flex;
  align-items: center;
}

.main-header {
  font-weight: 500;
  font-size: 18px;
  background-color: #eeeeee;
  padding-top: 49px;
}

.header-top {
  display: flex; 
  flex-grow: 1;
  justify-content: space-between; 
  align-items: center;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}

.main-nav-list li {
  margin-right: 50px;
}

.header-top a:hover {
  color:#fb565a;
}

.header-top a:active {
  opacity: 0.3;
}

.main-nav a {
  display:block;
  font-style: normal;
  line-height: 20px;
  text-decoration: uppercase; 
}

.main-header .cart-link {
  width: 115px;
  text-align: right;
  background-image: url('../img/icons/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.feature-slider {
  overflow: hidden;
  height: 430px;
}

.feature-slider ul {
  display: flex;
  padding: 0;
}

.feature-slider .lead,
.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.feature {
  display: flex;
  justify-content: space-between;
  min-width: 1120px;
}

.feature .text {
  margin-top:50px;
}

.feature p {
  font-size: 16px;
  font-weight: normal;
}
.feature .image-container {
  margin-right: 30px;
}

/* Основная часть */

.services {
  padding: 80px 0 30px;
  border-bottom: 2px solid #eeeeee;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.service-list li {
  width: 300px; 
  margin-right: 100px;
  margin-bottom: 50px; 
}

.service-list li:nth-child(3n){
  margin-right: 0;
}

.service-title {
  text-transform: uppercase;
}

.service p {
  color: #283136;
}

.company-description {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 73px;
  border-bottom: 2px solid #eeeeee;
}

.company-description .desc {
  width: 600px;
  margin-top: 34px;
  margin-right: 200px;
}

.company-description .lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.company-description p {
  margin-top: 33px;
  margin-bottom: 39px;
}

.company-description .order-types-header {
  display: block;
  margin-bottom: 24px;
}

.company-description li {
  margin-top: 24px;
}

.company-description li::before {
  display: inline-block;
  vertical-align: center;
  content: '';
  width: 25px;
  height: 2px;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 4px;
  background-color: #fb565a;
}

.company-description .order-types-header,
.company-description h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.company-description h3 {
  font-size: 16px;
  text-align: center;
}

.company-description .features {
  position: relative;
  width: 360px;
  background-image: url('../img/nerds-color-logo.jpg');
  background-repeat: no-repeat;
}
.features-wrapper {
  margin-top: 244px;
}

.features-wrapper h3 {
  margin-bottom: 15px;
}

.features-wrapper table {
  height: 129px;
}

.features-wrapper tfoot {
  margin-top: 10px;
}

.features-wrapper th {
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.features-wrapper td {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  width: 105px;
}

.features-wrapper .percent {
  font-size: 24px;
  vertical-align: super;
}
.projects {
  padding-top: 21px;
  padding-bottom: 19px;
  border-bottom: 2px solid #eeeeee;
}

.projects ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.projects li {
  display: flex;
  position: relative;
  align-items: center;
  width: 260px;
  height: 100px;
  padding: 20px;
}

.projects li:first-child {
  width: 260px;
}

.projects li:nth-child(4) {
  width: 240px;
}

.projects li::after {
  content: '';
  display: block;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  position: absolute;
  right: -1px;
  top: 50%;
  margin-top: -27px;
}

.projects li:first-child::after {
  right: -12px;
}

.projects li:nth-child(4n)::after {
  display: none;
}

.htmlacademy-logo {
  margin-bottom: -9px;
  margin-right: 19px;
}

.project-link img {
  max-width: 100%;
  height: auto;
}

.mishka-logo {
  margin-bottom: -6px;
  margin-left: 20px;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  background-repeat: no-repeat;
}

.project-link:hover {
  opacity: 1;
}

.project-link:active {
  opacity: 0.1;
}

.project-link img {
  max-width: 100%;
  height: auto;
}

.location {
  position: relative;
  display: block;
  height: 416px;
  margin-top: 80px;
  background-image: url('../img/map.jpg');
  background-color: #f1f1ec;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 58% 32%;
}

.location .marker {
  display: block;
  position: absolute;
  bottom: 0;
  top: 21%;
  left: 57%;
}
.contacts {
  position: absolute;
  bottom: 0;
  width: 319px;
  margin: 54px 0px 54px 80px;
  padding: 49px 50px 47px 50px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.contacts .name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.contacts .address,
.contacts .phone-number {
  color: #666666;
  line-height: 18px;
}

.contacts .address {
  margin-bottom: 18px;
}

.contacts .phone-number {
  margin-bottom: 37px;
}

.contacts .btn {
  width: 219px;
}

/* Основная часть:каталог */

.filter {
  box-sizing: border-box;
  width: 260px;
}

.filter-form {
  width: 100%;
}

.filter fieldset {
  border: none;
  padding: 0;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-group.cost label,
.filter-group.cost input {
  color: #283136;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-group.cost label:hover,
.filter-group.cost label:active {
  color: #283136;
  opacity: 1;
}

.filter-group label {
  position: relative;
  color: #283136;
  line-height: 20px;
}

.filter-group.grid label,
.filter-group.features label {
  padding-left: 28px;
}

.filter-group input[type=radio] + .radio-button {
  position: absolute;
  top: -3px;
  left: -7px;
}

.filter-group input[type=checkbox] + .checkbox {
  position: absolute;
  top: -2px;
  left: -7px;
}

.filter-group input[type=radio]:checked + .radio-button {
  background-image: url('../img/checkbox/radio-on.svg');
}

.filter-group input[type=checkbox]:checked + .checkbox {
  background-image: url('../img/checkbox/checkbox-on.svg');
}

.filter-group input[type=radio]:disabled + .radio-button,
.filter-group input[type=checkbox]:disabled + .checkbox {
  opacity: 0.1;
}

.filter-group label:hover {
  color: #000000;
}

.radio-button-label:hover .radio-button,
.checkbox-label:hover .checkbox {
  opacity: 1;
}

.filter-group,
.filter-group.cost {
  margin: 0;
}

.filter-group.cost legend {
  margin-bottom: 48px;
}

.filter-group.cost .cost-range {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #eeeeee;
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 0 20px;
}

.cost-range .range-line-wrapper {
  display: flex;
  align-items: center;
  width: 219px;
}

.cost-range .left-range-line {
  width: 0;
  height: 2px;
  background-color: #d7dcde;
}

.cost-range .middle-range-line {
  width: 151px;
  height: 2px;
  background-color: #00ca74;
}

.cost-range .right-range-line {
  width: 68px;
  height: 2px;
  background-color: #d7dcde;
}

.cost-range .cost-from-slider-handle,
.cost-range .cost-to-slider-handle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 29px;
  width: 20px;
  height: 23px;
  background-image: url('../img/filter-button.png');
  background-repeat: no-repeat;
}

.cost-range .cost-from-slider-handle {
  left: 18px;
}

.cost-range .cost-to-slider-handle {
  left: 160px;
}

.cost-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.cost-wrapper .cost-group {
  display: flex;
  align-items: center;
}

.cost-group label {
  margin-right: 12px;
}

.filter-submit {
  width: 100%;
}

.filter-group.cost input {
  cursor: text;
  display: block;
  width: 65px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 3px;
}

.filter-group legend {
  margin-bottom: 14px;
}

.filter-helper-title {
  margin-bottom: 14px;
}

.filter-helper-grid {
  margin-bottom: 43px;
}

.filter-helper-features{
  margin-bottom: 43px;
}

.filter-group li {
  margin-bottom: 16px;
  margin-left: 8px;
}

.filter-group li:last-child {
  margin-bottom: 0;
}

.filter-group input {
  cursor: pointer;
}

.filter-group label {
  cursor: pointer;
}

.filter-group {
  margin-bottom: 43px;
}

.products .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 53px;
}

.sort h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1px;
  margin-right: 264px;
}

.sort ul {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 271px;
  margin-right: 48px;
  margin-top: 1px;
}

.sort a,
.sort a:hover,
.sort a:active {
  color: #000000;
}

.sort a {
  opacity: 0.3;
}

.sort a:hover,
.sort .btn-sort-asc:hover,
.sort .btn-sort-desc:hover {
  opacity: 0.6;
}

.sort a.active,
.sort a:active,
.sort .btn-sort-asc.active,
.sort .btn-sort-asc:active,
.sort .btn-sort-desc.active,
.sort .btn-sort-desc:active {
  opacity: 1;
}

.sort .sort-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.sort .btn-sort-asc,
.sort .btn-sort-desc {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.3;
}

.sort .btn-sort-asc {
  margin-right: 1px;
  border-bottom: 10px solid #000000;
}

.sort .btn-sort-desc {
  border-top: 10px solid #000000;
}

.sort .btn-sort {
  font-size: 14px;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 15px;
}

.radio-label {
  display: flex;
  align-items: center;
}

.radio {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.fake-radio {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  opacity: 0.4;
  background-image: url('../img/checkbox/radio-off.svg');
}

.radio-label:hover > .fake-radio {
  opacity: 1;
}

.radio:checked + .fake-radio {
  background-image: url('../img/checkbox/radio-on.svg');
}
.radio-label {
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.fake-checkbox {
  display: inline-block;
  width: 27px;
  height: 25px;
  margin-right: 10px;
  opacity: 0.4;
  background-image: url('../img/checkbox/checkbox-off.svg');
  background-repeat: no-repeat;
}
.checkbox-label {
  display: flex;
}
.checkbox-label:hover > .fake-checkbox {
  opacity: 1;
}

.checkbox:checked + .fake-checkbox {
  background-image: url('../img/checkbox/checkbox-on.svg')
}


.main-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-top: 78px;
  padding-bottom: 108px;
  text-align: center;
  margin: 0;
}
.catalog {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.products .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 53px;
}

.sort h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1px;
  margin-right: 264px;
}

.sort ul {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 271px;
  margin-right: 48px;
  margin-top: 1px;
}

.sort a,
.sort a:hover,
.sort a:active {
  color: #000000;
}

.sort a {
  opacity: 0.3;
}

.sort a:hover,
.sort .btn-sort-asc:hover,
.sort .btn-sort-desc:hover {
  opacity: 0.6;
}

.sort a.active,
.sort a:active,
.sort .btn-sort-asc.active,
.sort .btn-sort-asc:active,
.sort .btn-sort-desc.active,
.sort .btn-sort-desc:active {
  opacity: 1;
}

.sort .sort-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40px;
}

.sort .btn-sort-asc,
.sort .btn-sort-desc {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  opacity: 0.3;
}

.sort .btn-sort-asc {
  margin-right: 1px;
  border-bottom: 10px solid #000000;
}

.sort .btn-sort-desc {
  border-top: 10px solid #000000;
}

.sort .btn-sort {
  font-size: 14px;
  line-height: 18px;
}

.products {
  width: 1120px;
}

.product-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.browser-header,
.product-photo {
 display: block;
}

.browser-header {
  opacity: 0.12;
}

.product-list li {
  position: relative;
  width: 360px;
  height: 615px;
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.product-list li:nth-child(2n){
  margin-right: 0;
}

.product-list li:hover > .browser-header {
 opacity: 1;
}

.filter {
  width: 260px;
  margin-right: 140px;
}

.product-popup-info {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #eeeeee;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 24px 0 43px;
}
.product-list li:hover > .product-popup-info {
  display: flex;
}
.product-title {
  text-size: 14px;
  margin: 0 0 25px;
}
.product-popup-info > .caption {
  width: 190px;
  line-height: 18px;
  text-align: center;
  color: #666666;
  margin: 0 0 30px 0;
}

.main-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-container hr.last-hr {
  margin-bottom: 80px;
}

/* Футер */

.page-footer{
  display: flex;
  align-items: center;
  padding: 69px 20px;
}

.links {
  display: flex;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  width: 400px; 
}

.links li {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 78px;
    height: 78px;
    margin-right: 12px; 
    border-radius: 50%;
    margin-bottom: 12px;
    overflow: hidden;
}
.links li:last-child {
  margin: 0;
}

.links a {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
}

.links a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.vk::before {
  background-image: url('../img/socials/vkontakte-icon.svg');
}
  
.facebook::before {
  background-image: url('../img/socials/facebook-icon.svg');
}
  
.instagram::before {
  background-image: url('../img/socials/instagram-icon.svg');
}
.links a:hover {
  background-color: #e74246; 
 }

.links a:active{
  background-color: #d7373b;
}

.links a:active::before{
opacity: 0.3;
}

.partnership-slogan {
  margin: 0 0 12px; 
  font-size: 33px;
  line-height: 33px;
  font-weight: 700;
}

.partnership {
  flex-grow: 1;
}

.partnership-text {
  color: #444444;
  margin: 0; 
}

/* Форма обратной связи */

.contact-us-popup {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 175px;
  width: 960px;
  margin-left: -480px;
  padding-top: 67px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.popup-show {
  display: block;
}

.contact-us-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
}

.contact-us-popup fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.contact-us-popup h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
}

.contact-us-popup .close {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: none;
  margin-right: -10px;
  opacity: 0.3;
  background-color: transparent;
  background-image: url('../img/icons/close-cross.svg');
  background-repeat: no-repeat;
}

.contact-us-popup .close:hover {
  opacity: 1;
}

.contact-us-popup .close:active {
  opacity: 0.1;
}

.contact-us-popup .btn {
  width: 260px;
}

.contact-us-popup .name-and-email-wrapper {
  display: flex;
  margin-bottom: 34px;
  justify-content: space-between;
}

.name-and-email-wrapper .contact-us-field {
  flex-basis: 360px;
}

.contact-us-field {
  display: flex;
  flex-direction: column;
}

.contact-us-field.text {
  margin-bottom: 45px;
}

.contact-us-field label {
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 9px;
}

.contact-us-field input,
.contact-us-field textarea {
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.contact-us-field input::-webkit-input-placeholder,
.contact-us-field textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-us-field input:-ms-input-placeholder,
.contact-us-field textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-us-field input::-ms-input-placeholder,
.contact-us-field textarea::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-us-field input::placeholder,
.contact-us-field textarea::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.contact-us-field input:hover,
.contact-us-field textarea:hover {
  border-color: #b4b9bb;
}

.contact-us-field input:focus,
.contact-us-field textarea:focus {
  border-color: #000000;
}

.contact-us-field input:focus::-webkit-input-placeholder,
.contact-us-field textarea:focus::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.contact-us-field input:focus:-ms-input-placeholder,
.contact-us-field textarea:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.contact-us-field input:focus::-ms-input-placeholder,
.contact-us-field textarea:focus::-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.contact-us-field input:focus::placeholder,
.contact-us-field textarea:focus::placeholder {
  color: rgba(68, 68, 68, 1);
}

.contact-us-field input:invalid,
.contact-us-field textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.contact-us-field input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 13px;
}

.contact-us-field textarea {
  resize: none;
  height: 100px;
  padding-top: 14px;
  padding-left: 13px;
  padding-right: 13px;
}

.contact-us-field label,
.contact-us-field input,
.contact-us-field textarea {
  line-height: 18px;
}